* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
    font: 16px 'IBM Plex Sans', sans-serif;
    cursor: default;
}

body {
    height: 100%;
    margin: 0;
}

body:not(.preload) * {
    transition: .25s ease;
    transition-property: opacity, color, border-color, background-color, box-shadow;
}

button {
    font-family: inherit;
    font-size: 1rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    background: none;
    color: inherit;
    text-transform: uppercase;
    padding: .85rem 2rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

button::after {
    content: '\2192';
    margin-left: 1rem;
    font-size: 1rem;
}

button:hover,
button:focus {
    background: #fff;
    color: #000;
}

.landing-section {
    /** */
}

.landing-section__content {
    padding: 2rem 0;
    max-width: 1024px;
    margin: 0 auto;
}

.landing-hero {
    min-height: 100%;
    background: #2b2b2b;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.landing-hero__background {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: .25;
    pointer-events: none;
}

.landing-hero__background ~ * {
    position: relative;
    z-index: 1;
}

.landing-hero__logo {
    width: 10rem;
}

.landing-hero__title {
    margin: 10rem 0 0;
    font-size: 6rem;
    font-weight: normal;
}

.landing-hero__subtitle {
    font-size: 1.5rem;
    display: block;
    margin: 1rem 0 4rem;
}
