* {
  box-sizing : border-box;
}

html {
  height : 100%;
  font   : 16px 'Oyxgen', sans-serif;
}

body {
  background      : #0f0f0f;
  min-width       : 320px;
  min-height      : 100%;
  margin          : 0;
  font-size       : 0;
  cursor          : default;
  user-select     : none;
  display         : flex;
  align-items     : center;
  justify-content : center;
  color           : #aaaaaa;
}

body:not(.preload) * {
  transition          : .25s ease;
  transition-property : opacity, color, border-color, background-color, box-shadow;
}

a {
  color           : #000000;
  text-decoration : none;
  outline         : none;
}

a:hover,
a:focus {
  color : #5627c2;
}

input,
textarea,
button {
  margin        : .5rem 0;
  border-radius : .4rem;
  border        : none;
}

input,
textarea {
  /* remove iOS inset shadows */
  -webkit-appearance : none;
  font               : inherit;
  font-size          : 1rem;
  display            : block;
  background         : #222222;
  padding            : 1rem 1.25rem;
  width              : 100%;
  resize             : none;
  outline            : none;
  color              : inherit;
}

input::placeholder,
textarea::placeholder {
  color   : inherit;
  opacity : 1;
}

input:focus,
textarea:focus {
  background-color : #ffffff;
  color            : #000000;
}

textarea {
  height : 120px;
}

button {
  font            : inherit;
  font-size       : 1rem;
  color           : #ffffff;
  text-decoration : none;
  padding         : 1rem 1.25rem;
  background      : #5627c2;
  cursor          : pointer;
  width           : 100%;
  outline         : none;
  margin-top      : 2rem;
}

button:focus {
  opacity : .8;
}


@keyframes hero--entrance {
  0% {
    opacity   : 0;
    transform : scale(.98);
  }
}

#hero {
  width          : 480px;
  max-width      : 100%;
  padding        : 6rem 1rem 3rem;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  text-align     : center;
  animation      : hero--entrance .4s ease;
}

#hero__logo {
  width     : 92%;
  max-width : 380px;
}

#hero__subtitle {
  font-size  : 1rem;
  margin     : 3rem 0;
  font-style : italic;
}

#hero__form {
  width          : 100%;
  display        : flex;
  align-items    : center;
  flex-direction : column;
}

#hero__footer {
  font-size  : .75rem;
  margin-top : 3rem;
}
