// Semicolon breaks Laravel Mix
// @see https://github.com/JeffreyWay/laravel-mix/issues/2430
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200%3b400%3b700&display=swap');

@import url('https://use.fontawesome.com/releases/v5.15.1/css/all.css');

$screen-md: 1024px;
$screen-sm: 450px;

$brand-purple: #5627c2;

@mixin container {
  padding: 2rem;
  max-width: 1024px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  font: 18px 'IBM Plex Sans', 'Segoe UI', 'Verdana', 'Calibri', sans-serif;
  cursor: default;
}

body {
  height: 100%;
  margin: 0;
  font-size: 0;
  min-width: 320px;
  background: #000;
}

body:not(.preload) * {
  transition: .25s ease;
  transition-property: opacity, color, border-color, background-color, box-shadow;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: underline;
}

@keyframes img-lazy--loaded {
  from {
    opacity: 0;
  }
}

img.lazy:not(.lazy--loaded) {
  opacity: 0;
}

img.lazy--loaded {
  animation: img-lazy--loaded .5s ease;
}

ul {
  list-style: none;
  padding: 0;

  li {
    &::before {
      content: '';
      display: inline-block;
      width: .5rem;
      height: .5rem;
      margin: 0 .25rem 0 0;
      border: 1px solid #fff;
    }
  }
}

button,
.btn {
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid #fff;
  background: none;
  text-transform: uppercase;
  padding: .7rem 1.65rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: normal;
  color: #fff;

  &::after {
    content: '';
    width: 1rem;
    height: 1rem;
    background: url('/arrow-right.svg') no-repeat right center;
    background-size: contain;
    margin-left: .5rem;
  }

  &:hover,
  &:focus {
    background: $brand-purple;
    border-color: lighten($brand-purple, 5%);
    color: #fff;
    text-decoration: none;
    outline: none;
  }

  + button,
  + .btn {
    margin-left: .5rem;
  }
}

.landing {
  &-section {
    @include container;

    overflow: hidden;

    &__title {
      color: #fff;
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    &__content {
      font-size: 1rem;
      line-height: 2;
      color: #fff;

      a:not(.btn) {
        color: $brand-purple;
      }

      p {
        margin: 1rem 0;
      }
    }
  }

  &-hero {
    height: 100%;
    min-height: 760px;
    max-height: 1100px;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;

    &__banner {
      color: #fff;
      text-decoration: none;
      background: $brand-purple;
      font-size: 1rem;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      position: relative;
      z-index: 1000;
      margin: 0 0 1rem;

      i {
        margin-left: .5rem;
        font-size: .85rem;
      }

      @media (max-width: $screen-sm) {
        font-size: .85rem;
      }
    }

    &__content {
      @include container;

      flex: 1 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      line-height: normal;
    }

    &__background {
      position: absolute;
      z-index: 0;
      left: 30%;
      bottom: 20%;
      width: 70%;
      height: 80%;
      object-fit: contain;
      opacity: .25;
      pointer-events: none;

      ~ * {
        position: relative;
        z-index: 1;
      }
    }

    &__logo {
      width: 10rem;
      flex: 0 0 auto;
    }

    &__text {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    &__title {
      font-size: 5rem;
      font-weight: 200;
      text-transform: uppercase;
    }

    &__subtitle {
      font-size: 1rem;
      display: block;
      margin: 1rem 0 4rem;
    }

    @media (max-width: $screen-md) {
      &__title {
        font-size: 4.5rem;
      }

      &__subtitle {
        font-size: 1rem;
      }
    }

    @media (max-width: $screen-sm) {
      &__title {
        font-size: 3.5rem;
      }
    }
  }


  &-team-list-item {
    display: flex;
    align-items: center;
    margin: 2rem 0;

    &__headshot {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #111;
      width: 13rem;
      height: 16rem;
      max-width: 100%;
      flex: 0 0 auto;
      overflow: hidden;

      i {
        color: #fff;
        font-size: 4rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      margin: 0 0 0 2rem;
    }

    &__name,
    &__position {
      line-height: normal;
    }

    &__name {
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    &__position {
      font-size: 1rem;
      font-weight: normal;
      margin: .5rem 0 0;
    }

    @media (max-width: $screen-md) {
      flex-direction: column;
      align-items: flex-start;

      &__content {
        margin: 1rem 0 0;
      }
    }
  }

  &-sponsoring-list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -1rem;

    &-item {
      margin: 1rem;
      overflow: hidden;
      line-height: normal;
      text-transform: none;
      width: 350px;
      color: #fff !important;

      &__title {
        font-weight: bold;
        font-size: 1.25rem;
        text-transform: uppercase;
      }

      &__description {
        font-size: .75rem;
      }
    }

    @media (max-width: $screen-md) {
      flex-wrap: wrap;
    }
  }

  &-footer {
    margin: 4rem 0 0;
    position: relative;

    &__backdrop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: .25;
      pointer-events: none;
      object-fit: cover;
    }

    &__content {
      @include container;

      color: #fff;
    }

    &__info,
    &__copyright {
      max-width: 1024px;
      margin: 0 auto;
    }

    &__info {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;
      font-size: .85rem;
    }

    &__info div {
      margin: .5rem 0;
      line-height: 1.75;
    }

    &__logo {
      max-width: 200px;
    }

    &__social-links {
      font-size: 1rem;

      a + a {
        margin: 0 0 0 .5rem;
      }
    }

    &__copyright {
      padding: 0 0 1rem;
      text-transform: uppercase;
      font-size: .65rem;
    }
  }
}
